@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Mulish', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  color: black;
}

.layout-container {
  max-width: 2000px;
  margin: 0 auto;
}

.middle-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
